@model ConsoleApplication.Models.Entities.Student    

@{
    ViewBag.Title = "Create New Student"; 
    ViewBag.btnText = "Create";
    ViewBag.btn2Text = "Go Back to List";
}

<form asp-controler="Student" asp-action="Create" method="POST" class="form-horizontal">

    @Html.Partial("_StudentsForm")
</form>